# next.js
/.next/
/out/

# production
/build

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage
.swc

# zk artifacts
*.wasm
*.zkey
/public/semaphore/
/public/circuits/

.env.local