# Dependencies
node_modules

# Build outputs
out/
cache/
circuits/build/
circuits/test/output/

# Environment variables
.env*

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*