[profile.default]
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 200

via_ir = true

# foundry.toml (project root)
fs_permissions = [
    { access = "read-write", path = "./script/benchmark/results" },
    { access = "read", path = "./script/benchmark/BenchmarkConfig.json" },
]


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
